:root {
    --primary-color:#D1FAE5;
    --gray:#111827;
}

body {
    background-color: var(--primary-color);
    color: var(--gray);
}
.container {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.input-label {
    display: block;
    padding: 1rem 1rem;
    width: 100%;
    margin: auto;
    font-size: large;
    font-weight: bold;
}

.input {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    border: 2px solid var(--gray);
}

.btn-container {
    padding: 1% 3%;
    margin: 1rem 0rem;
    border-radius: 1rem;
    font-size: large;
    border: 1px solid var(--gray);
    font-weight: bold;

}

.optBox {
    font-size: large;
    font-weight: bold;
    max-width: 100%;
    margin: auto;
    background-color: var(--gray);
    color: var(--primary-color);
}